<div class="header-section wf-section">
  <div class="top-nav">
    <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="mask-2 w-slider-mask">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'text' %}
        <div class="announcement-slide w-slide">
          <div class="announcement-usp-mobile">
            <div class="icon-18 w-embed"><img src="{{ block.settings.icon-link }}" ></div>
            <div class="text-block-4">{{ block.settings.announcment-text }}</div>
          </div>
        </div>
      {% endcase %}
    {% endfor %}
      </div>
      <div class="left-arrow-2 w-slider-arrow-left"><img src="{{'ic20-chevron-left.svg' | asset_url}}" loading="lazy" alt=""></div>
      <div class="right-arrow-2 w-slider-arrow-right"><img src="{{'ic20-chevron-right.svg' | asset_url}}" loading="lazy" alt=""></div>
      <div class="slide-nav-2 w-slider-nav w-round"></div>
    </div>
  </div>
  <div id="w-node-_50826986-a241-76da-a596-aab32e110f54-2e110f2d" class="mobile-nav-wrapper">
    <div class="mobile-menu-content">
      <div class="nav-mob-branding-closing">
        <div><img src="{{section.settings.logo-link}}" loading="lazy" alt="" class="image-16"></div>
        <div data-w-id="50826986-a241-76da-a596-aab32e110f59" class="close-menu w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4143 12.0002L18.7072 6.70725C19.0982 6.31625 19.0982 5.68425 18.7072 5.29325C18.3162 4.90225 17.6842 4.90225 17.2933 5.29325L12.0002 10.5862L6.70725 5.29325C6.31625 4.90225 5.68425 4.90225 5.29325 5.29325C4.90225 5.68425 4.90225 6.31625 5.29325 6.70725L10.5862 12.0002L5.29325 17.2933C4.90225 17.6842 4.90225 18.3162 5.29325 18.7072C5.48825 18.9022 5.74425 19.0002 6.00025 19.0002C6.25625 19.0002 6.51225 18.9022 6.70725 18.7072L12.0002 13.4143L17.2933 18.7072C17.4882 18.9022 17.7443 19.0002 18.0002 19.0002C18.2562 19.0002 18.5122 18.9022 18.7072 18.7072C19.0982 18.3162 19.0982 17.6842 18.7072 17.2933L13.4143 12.0002Z" fill="#270E24"></path>
          </svg></div>
      </div>
      <div class="mobile-links">
        {% for link in linklists[section.settings.menu].links -%}
        <a href="{{link.url}}" class="nav-link-2 w-inline-block">{{link.title}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="collection-menu">
      <div class="most-wanted-swiper">
        <div class="text-s-2 text-style-extrabold color-venus">{{section.settings.mobile-menu_title}}</div>
        <div>
          <div class="nav-swiper">
            <div id="collection-swiper" class="nav-collection-swiper">
              <div class="swiper-wrapper-2 collection">
                <div class="swiper-slide-5">
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'story' %}
                  <a href="{{ block.settings.story-link }}" class="category-swiper-block w-inline-block">
                    <div class="gradient-border" style="background-image: url({{ 'Ellipse-20.svg' | asset_url }});">
                      <div class="collection-image"><img src="{{ block.settings.story-image | img_url }}" loading="lazy" srcset="{{ block.settings.story-image | img_url }}500w, {{ block.settings.story-image | img_url }}800w, {{ block.settings.story-image | img_url }}" sizes="(max-width: 479px) 87px, 100vw" alt="" class="collection-img-instastyle"></div>
                    </div>
                    <div class="categorie-info-wrapper-2">
                      <div class="categorie-information-2">
                        <p class="categories-p-2">{{ block.settings.story-text }}</p>
                      </div>
                      <div class="icon-regular w-embed"><svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.33301 10C2.33301 9.44772 2.78072 9 3.33301 9H14.918L12.6259 6.70711C12.2654 6.34662 12.2377 5.77939 12.5427 5.3871L12.6259 5.29289C12.9864 4.93241 13.5536 4.90468 13.9459 5.2097L14.0401 5.29289L18.0401 9.29289L18.0815 9.33685L18.1367 9.40469L18.2083 9.51594L18.2618 9.62866L18.2972 9.73401L18.3262 9.88253L18.333 10L18.3302 10.0752L18.3128 10.2007L18.2833 10.3121L18.2393 10.4232L18.187 10.5207L18.1202 10.6168C18.0953 10.6485 18.0686 10.6786 18.0401 10.7071L14.0401 14.7071C13.6496 15.0976 13.0164 15.0976 12.6259 14.7071C12.2654 14.3466 12.2377 13.7794 12.5427 13.3871L12.6259 13.2929L14.918 11H3.33301C2.78072 11 2.33301 10.5523 2.33301 10Z" fill="#270E24"></path>
                        </svg></div>
                    </div>
                  </a>
                {% endcase %}
              {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="{{section.settings.atc-menu_link}}" class="mobile-menu-cta w-inline-block">{{section.settings.atc-text}}</a>
    </div>
  </div>
  <div data-animation="default" class="navbar-header w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="50826986-a241-76da-a596-aab32e110f87" role="banner" data-duration="400" id="shopify-section-header_main">
    <div class="navbar1_container-2">
      <div id="w-node-_50826986-a241-76da-a596-aab32e110f89-2e110f2d" data-w-id="50826986-a241-76da-a596-aab32e110f89" class="menu-icon3">
        <div class="menu-icon3_line-top"></div>
        <div class="menu-icon3_line-middle"></div>
        <div class="menu-icon3_line-bottom"></div>
      </div>
      <a href="{{store.url}}" class="navbar1_logo-link w-nav-brand"><img src="{{section.settings.logo-link}}" loading="lazy" alt="" class="navbar1_logo-2"></a>
      <div id="w-node-_50826986-a241-76da-a596-aab32e110f8f-2e110f2d" class="cart-icon_mobile-2">
        <a href="#" class="link-block-2 w-inline-block"><img src="{{'cart-svg.svg' | asset_url}}" loading="lazy" alt="" class="image-4"></a>
      </div>
      <nav role="navigation" class="navbar1_menu-2 is-page-height-tablet w-nav-menu">
        {% for link in linklists[section.settings.menu].links -%}
        <a href="{{link.url}}" class="navbar1_link-2 w-nav-link">{{link.title}}</a>
        {% endfor %}
        <a href="/cart" class="site-header__cart">
        <div class="cart-icon_desktop">
          <div class="nav-button">
            <div class="icon-24 w-embed"><svg width="auto" height="auto" viewbox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.3375 10.4406L19.9789 3.23346C20.0974 2.7131 19.7011 2.21757 19.1663 2.21757H5.52806L5.20979 0.664926C5.13049 0.277924 4.78924 0 4.39337 0H0.833334C0.37309 0 0 0.37231 0 0.83159V1.38598C0 1.84526 0.37309 2.21757 0.833334 2.21757H3.25983L5.69899 14.1175C5.11545 14.4523 4.72222 15.0803 4.72222 15.8002C4.72222 16.8719 5.59278 17.7406 6.66667 17.7406C7.74056 17.7406 8.61111 16.8719 8.61111 15.8002C8.61111 15.2571 8.38726 14.7664 8.02695 14.4142H15.3064C14.9461 14.7664 14.7222 15.2571 14.7222 15.8002C14.7222 16.8719 15.5928 17.7406 16.6667 17.7406C17.7406 17.7406 18.6111 16.8719 18.6111 15.8002C18.6111 15.032 18.1636 14.3681 17.5146 14.0537L17.7062 13.2125C17.8247 12.6922 17.4283 12.1967 16.8936 12.1967H7.57351L7.34625 11.0879H17.5249C17.914 11.0879 18.2513 10.8192 18.3375 10.4406Z" fill="#0D1316"></path>
              </svg></div>
          </div>
        </div>
        {% if cart.item_count > -1 %}
        {% endif %}
      </a>
      </nav>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "heade",
  "limit": 1,
  "settings": [
    {
  "type": "link_list",
  "id": "menu",
  "label": "Menu"
  },
  {
"type": "collection_list",
"id": "collection_list",
"label": "Collections",
"limit": 9
},
{
  "type": "url",
  "id": "logo-link",
  "label": "Logo Link"
},
{
  "type": "text",
  "id": "mobile-menu_title",
  "label": "Mobile Menu Showcase Title"
},
{
  "type": "url",
  "id": "atc-menu_link",
  "label": "ATC Link"
},
{
  "type": "text",
  "id": "atc-text",
  "label": "ATC Text"
}
  ],
  "max_blocks": 9,
  "blocks": [
     {
       "name": "Announcment text",
       "type": "text",
       "settings": [
         {
           "type": "text",
           "id": "announcment-text",
           "label": "Announcment Text"
         },
         {
          "type": "url",
          "id": "icon-link",
          "label": "Icon Link"
         }
       ]
     },
     {
       "name": "Story",
       "type": "story",
       "settings": [
         {
           "type": "text",
           "id": "story-text",
           "label": "Story Text"
         },
         {
          "type": "url",
          "id": "story-link",
          "label": "Story Link"
         },
         {
          "type": "image_picker",
          "id": "story-image",
          "label": "Story Image"
         }
       ]
     }
  ]
}
{% endschema %}





