<section class="product-storytelling-section">
    <div class="design-section-primairy">
      <div class="content-container">
        <div class="w-layout-grid content-grid">
          <div id="w-node-d3b74179-af90-544d-3a7e-5df2e588bbfa-6ddb3075" class="content-block">
            <h2 class="product-info-h1"><span class="icon">{{section.settings.emoji}}</span>{{section.settings.title}}</h2>
            <p class="product-paragraph">{{section.settings.description}}</p>
          </div>
          <div id="w-node-d3b74179-af90-544d-3a7e-5df2e588bc01-6ddb3075" class="product-img-wrapper"><img src="{{section.settings.image | img_url: 'master'}}" sizes="(max-width: 479px) 93vw, (max-width: 767px) 87vw, (max-width: 991px) 450px, 443px" srcset="{{section.settings.image | img_url: 'master'}} 500w, {{section.settings.image | img_url: 'master'}} 800w, {{section.settings.image | img_url: 'master'}} 900w" alt="" class="product-info-img"></div>
        </div>
      </div>
    </div>
    <div class="bottom-waves-element">
      <div class="bottom-wave-div wave-desktop secondairy-wave-color w-embed"><svg width="100%" height="32" viewbox="32" fill="none%" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 28.3806L5.04 22.9515C10.08 17.5224 20.16 6.66416 30.24 7.26739C41.58 7.87063 51.66 19.9353 61.74 23.5547C71.82 27.1741 81.9 22.3483 91.98 17.5224C103.32 12.6965 113.4 7.87063 123.48 7.26739C133.56 6.66416 143.64 10.2836 153.72 12.6965C165.06 15.1094 175.14 16.3159 185.22 14.5062C195.3 12.6965 205.38 7.87063 215.46 7.26739C226.8 6.66416 236.88 10.2836 246.96 11.49C257.04 12.6965 267.12 11.49 277.2 9.07709C288.54 6.66416 298.62 3.04475 308.7 1.23505C318.78 -0.574656 328.86 -0.574656 338.94 2.44152C350.28 5.45769 360.36 11.49 370.44 13.903C380.52 16.3159 390.6 15.1094 400.68 16.3159C412.02 17.5224 422.1 21.1418 432.18 22.9515C442.26 24.7612 452.34 24.7612 462.42 22.9515C473.76 21.1418 483.84 17.5224 493.92 17.5224C504 17.5224 514.08 21.1418 524.16 22.9515C534.24 24.7612 545.58 24.7612 555.66 25.3644C565.74 25.9677 575.82 27.1741 585.9 22.9515C595.98 18.7288 607.32 9.07709 617.4 6.66416C627.48 4.25122 637.56 9.0771 647.64 13.2997C657.72 17.5224 669.06 21.1418 679.14 22.9515C689.22 24.7612 699.3 24.7612 709.38 24.7612C719.46 24.7612 730.8 24.7612 740.88 21.745C750.96 18.7288 761.04 12.6965 771.12 10.2836C781.2 7.87063 792.54 9.07709 802.62 10.8868C812.7 12.6965 822.78 15.1094 832.86 13.903C842.94 12.6965 854.28 7.87063 864.36 7.26739C874.44 6.66416 884.52 10.2836 894.6 9.68033C904.68 9.07709 916.02 4.25122 926.1 2.44152C936.18 0.631813 946.26 1.83828 956.34 3.04475C966.42 4.25122 977.76 5.45769 987.84 4.25122C997.92 3.04475 1008 -0.574656 1018.08 2.44152C1028.16 5.45769 1038.24 15.1094 1049.58 19.3321C1059.66 23.5547 1069.74 22.3483 1079.82 19.3321C1089.9 16.3159 1099.98 11.49 1111.32 9.07709C1121.4 6.66416 1131.48 6.66416 1141.56 5.45769C1151.64 4.25122 1161.72 1.83828 1173.06 3.04475C1183.14 4.25122 1193.22 9.07709 1203.3 9.68033C1213.38 10.2836 1223.46 6.66416 1234.8 6.06092C1244.88 5.45769 1254.96 7.87063 1265.04 10.8868C1275.12 13.903 1285.2 17.5224 1296.54 15.7127C1306.62 13.903 1316.7 6.66416 1326.78 7.87063C1336.86 9.07709 1346.94 18.7288 1358.28 19.3321C1368.36 19.9353 1378.44 11.49 1388.52 7.87063C1398.6 4.25122 1408.68 5.45769 1420.02 6.66416C1430.1 7.87063 1440.18 9.07709 1450.26 7.26739C1460.34 5.45769 1470.42 0.631813 1481.76 3.64798C1491.84 6.66416 1501.92 17.5224 1506.96 22.9515L1512 28.3806V32H1506.96C1501.92 32 1491.84 32 1481.76 32C1470.42 32 1460.34 32 1450.26 32C1440.18 32 1430.1 32 1420.02 32C1408.68 32 1398.6 32 1388.52 32C1378.44 32 1368.36 32 1358.28 32C1346.94 32 1336.86 32 1326.78 32C1316.7 32 1306.62 32 1296.54 32C1285.2 32 1275.12 32 1265.04 32C1254.96 32 1244.88 32 1234.8 32C1223.46 32 1213.38 32 1203.3 32C1193.22 32 1183.14 32 1173.06 32C1161.72 32 1151.64 32 1141.56 32C1131.48 32 1121.4 32 1111.32 32C1099.98 32 1089.9 32 1079.82 32C1069.74 32 1059.66 32 1049.58 32C1038.24 32 1028.16 32 1018.08 32C1008 32 997.92 32 987.84 32C977.76 32 966.42 32 956.34 32C946.26 32 936.18 32 926.1 32C916.02 32 904.68 32 894.6 32C884.52 32 874.44 32 864.36 32C854.28 32 842.94 32 832.86 32C822.78 32 812.7 32 802.62 32C792.54 32 781.2 32 771.12 32C761.04 32 750.96 32 740.88 32C730.8 32 719.46 32 709.38 32C699.3 32 689.22 32 679.14 32C669.06 32 657.72 32 647.64 32C637.56 32 627.48 32 617.4 32C607.32 32 595.98 32 585.9 32C575.82 32 565.74 32 555.66 32C545.58 32 534.24 32 524.16 32C514.08 32 504 32 493.92 32C483.84 32 473.76 32 462.42 32C452.34 32 442.26 32 432.18 32C422.1 32 412.02 32 400.68 32C390.6 32 380.52 32 370.44 32C360.36 32 350.28 32 338.94 32C328.86 32 318.78 32 308.7 32C298.62 32 288.54 32 277.2 32C267.12 32 257.04 32 246.96 32C236.88 32 226.8 32 215.46 32C205.38 32 195.3 32 185.22 32C175.14 32 165.06 32 153.72 32C143.64 32 133.56 32 123.48 32C113.4 32 103.32 32 91.98 32C81.9 32 71.82 32 61.74 32C51.66 32 41.58 32 30.24 32C20.16 32 10.08 32 5.04 32H0V28.3806Z" fill="currentcolor"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1502.69 28.3806C1502.69 28.3806 1493.19 7.73505 1504.69 20.235C1516.19 32.735 1533.35 11.3968 1543.43 12C1554.77 12.6032 1554.35 19.9353 1564.43 23.5547C1574.51 27.1741 1584.59 22.3483 1594.67 17.5224C1606.01 12.6965 1616.09 7.87063 1626.17 7.26739C1636.25 6.66416 1646.33 10.2836 1656.41 12.6965C1667.75 15.1094 1677.83 16.3159 1687.91 14.5062C1697.99 12.6965 1708.07 7.87063 1718.15 7.26739C1729.49 6.66416 1739.57 10.2836 1749.65 11.49C1759.73 12.6965 1769.81 11.49 1779.89 9.07709C1791.23 6.66416 1801.31 3.04475 1811.39 1.23505C1821.47 -0.574656 1831.55 -0.574656 1841.63 2.44152C1852.97 5.45769 1863.05 11.49 1873.13 13.903C1883.21 16.3159 1893.29 15.1094 1903.37 16.3159C1914.71 17.5224 1924.79 21.1418 1934.87 22.9515C1944.95 24.7612 1955.03 24.7612 1965.11 22.9515C1976.45 21.1418 1986.53 17.5224 1996.61 17.5224C2006.69 17.5224 2016.77 21.1418 2026.85 22.9515C2036.93 24.7612 2048.27 24.7612 2058.35 25.3644C2068.43 25.9677 2078.51 27.1741 2088.59 22.9515C2098.67 18.7288 2110.01 9.07709 2120.09 6.66416C2130.17 4.25122 2140.25 9.0771 2150.33 13.2997C2160.41 17.5224 2171.75 21.1418 2181.83 22.9515C2191.91 24.7612 2201.99 24.7612 2212.07 24.7612C2222.15 24.7612 2233.49 24.7612 2243.57 21.745C2253.65 18.7288 2263.73 12.6965 2273.81 10.2836C2283.89 7.87063 2295.23 9.07709 2305.31 10.8868C2315.39 12.6965 2325.47 15.1094 2335.55 13.903C2345.63 12.6965 2356.97 7.87063 2367.05 7.26739C2377.13 6.66416 2387.21 10.2836 2397.29 9.68033C2407.37 9.07709 2418.71 4.25122 2428.79 2.44152C2438.87 0.631813 2448.95 1.83828 2459.03 3.04475C2469.11 4.25122 2480.45 5.45769 2490.53 4.25122C2500.61 3.04475 2510.69 -0.574656 2520.77 2.44152C2530.85 5.45769 2540.93 15.1094 2552.27 19.3321C2562.35 23.5547 2572.43 22.3483 2582.51 19.3321C2592.59 16.3159 2602.67 11.49 2614.01 9.07709C2624.09 6.66416 2634.17 6.66416 2644.25 5.45769C2654.33 4.25122 2664.41 1.83828 2675.75 3.04475C2685.83 4.25122 2695.91 9.07709 2705.99 9.68033C2716.07 10.2836 2726.15 6.66416 2737.49 6.06092C2747.57 5.45769 2757.65 7.87063 2767.73 10.8868C2777.81 13.903 2787.89 17.5224 2799.23 15.7127C2809.31 13.903 2819.39 6.66416 2829.47 7.87063C2839.55 9.07709 2849.63 18.7288 2860.97 19.3321C2871.05 19.9353 2881.13 11.49 2891.21 7.87063C2901.29 4.25122 2911.37 5.45769 2922.71 6.66416C2932.79 7.87063 2942.87 9.07709 2952.95 7.26739C2963.03 5.45769 2973.11 0.631813 2984.45 3.64798C2994.53 6.66416 3004.61 17.5224 3009.65 22.9515L3014.69 28.3806V32H3009.65C3004.61 32 2994.53 32 2984.45 32C2973.11 32 2963.03 32 2952.95 32C2942.87 32 2932.79 32 2922.71 32C2911.37 32 2901.29 32 2891.21 32C2881.13 32 2871.05 32 2860.97 32C2849.63 32 2839.55 32 2829.47 32C2819.39 32 2809.31 32 2799.23 32C2787.89 32 2777.81 32 2767.73 32C2757.65 32 2747.57 32 2737.49 32C2726.15 32 2716.07 32 2705.99 32C2695.91 32 2685.83 32 2675.75 32C2664.41 32 2654.33 32 2644.25 32C2634.17 32 2624.09 32 2614.01 32C2602.67 32 2592.59 32 2582.51 32C2572.43 32 2562.35 32 2552.27 32C2540.93 32 2530.85 32 2520.77 32C2510.69 32 2500.61 32 2490.53 32C2480.45 32 2469.11 32 2459.03 32C2448.95 32 2438.87 32 2428.79 32C2418.71 32 2407.37 32 2397.29 32C2387.21 32 2377.13 32 2367.05 32C2356.97 32 2345.63 32 2335.55 32C2325.47 32 2315.39 32 2305.31 32C2295.23 32 2283.89 32 2273.81 32C2263.73 32 2253.65 32 2243.57 32C2233.49 32 2222.15 32 2212.07 32C2201.99 32 2191.91 32 2181.83 32C2171.75 32 2160.41 32 2150.33 32C2140.25 32 2130.17 32 2120.09 32C2110.01 32 2098.67 32 2088.59 32C2078.51 32 2068.43 32 2058.35 32C2048.27 32 2036.93 32 2026.85 32C2016.77 32 2006.69 32 1996.61 32C1986.53 32 1976.45 32 1965.11 32C1955.03 32 1944.95 32 1934.87 32C1924.79 32 1914.71 32 1903.37 32C1893.29 32 1883.21 32 1873.13 32C1863.05 32 1852.97 32 1841.63 32C1831.55 32 1821.47 32 1811.39 32C1801.31 32 1791.23 32 1779.89 32C1769.81 32 1759.73 32 1749.65 32C1739.57 32 1729.49 32 1718.15 32C1708.07 32 1697.99 32 1687.91 32C1677.83 32 1667.75 32 1656.41 32C1646.33 32 1636.25 32 1626.17 32C1616.09 32 1606.01 32 1594.67 32C1584.59 32 1574.51 32 1564.43 32C1554.35 32 1544.27 32 1532.93 32C1522.85 32 1512.77 32 1507.73 32H1502.69V28.3806Z" fill="currentcolor"></path>
        </svg></div>
      <div class="bottom-wave-div wave-mobile secondairy-wave-color w-embed"><svg width="428" height="auto" viewbox="" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.27493H17.9167C35.8333 4.27493 71.6667 4.27494 107.5 8.12564C143.333 11.9763 179.167 19.6777 215 17.3673C250.833 15.0569 286.667 2.73465 322.5 0.424232C358.333 -1.88619 394.167 5.81522 412.083 9.66592L430 13.5166V32H412.083C394.167 32 358.333 32 322.5 32C286.667 32 250.833 32 215 32C179.167 32 143.333 32 107.5 32C71.6667 32 35.8333 32 17.9167 32H0V4.27493Z" fill="currentcolor"></path>
        </svg></div>
    </div>
  </section>

  
  {% schema %}
{
  "name": "Last IwT",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "desktop-left_grid",
      "label": "Desktop - Left / Mobile Bottom"
    },
    {
      "type": "checkbox",
      "id": "desktop-right_grid",
      "label": "Desktop - Right / Mobile Top"
    },
    {
      "type": "checkbox",
      "id": "inverted_grid",
      "label": "Desktop - Left / Mobile Top",
      "info": "Only one, from the 3 possibilites above, can be checked at the time!"
    },
    {
      "type": "checkbox",
      "id": "background",
      "label": "White Background"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "emoji",
      "label": "Emoji"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Last IwT"
    }
  ]
}
{% endschema %}