{% schema %}
  {
    "name": "Sidecart",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "placeholder": "Je Winkelwagen",
        "default": "Je Winkelwagen",
        "label": "Winkelwagen titel"
      },
      {
        "type": "text",
        "id": "rewards_title",
        "placeholder": "Rewards",
        "default": "Rewards",
        "label": "Rewards titel"
      },
      {
        "type": "text",
        "id": "upsell-title",
        "default": "Get free express shipping by adding:",
        "label": "Express Shipping title"
      },
      {
        "type": "text",
        "id": "subtotal-text",
        "default": "Subtotal",
        "label": "Top Tex"
      }, {
        "type": "textarea",
        "id": "shipping_text",
        "placeholder": "Verzending",
        "default": "Verzending",
        "label": "Verzending titel"
      }, {
        "type": "number",
        "id": "freeshipping_threshold",
        "default": 4000,
        "label": "Free shipping threshold"
      }, {
        "type": "number",
        "id": "freegift_threshold",
        "default": 6000,
        "label": "Free gift threshold"
      }, {
        "type": "number",
        "id": "shipping",
        "default": 499,
        "label": "Shipping price"
      }, {
        "type": "textarea",
        "id": "maak_af",
        "default": "Eenmalige Deal!",
        "label": "Upsell Titel"
      }, {
        "type": "textarea",
        "id": "total",
        "placeholder": "Totaal",
        "default": "Totaal",
        "label": "Totaal Text"
      }, {
        "type": "textarea",
        "id": "checkout_btn",
        "placeholder": "Veilig Afrekenen",
        "default": "Veilig Afrekenen",
        "label": "ATC Button text"
      }, {
        "id": "payments",
        "label": "Payment Icons",
        "type": "textarea",
        "default": "klarna,visa,master,american_express,maestro,shopify_pay,apple_pay,google_pay"
      }, {
        "type": "text",
        "id": "empty-cart_title",
        "default": "Your cart is empty! 👀",
        "label": "Empty Cart Title"
      }, {
        "type": "text",
        "id": "empty-cart_label",
        "default": "Discover our TikTok finds",
        "label": "Empty Cart Button Label"
      }, {
        "type": "url",
        "id": "empty-cart_url",
        "label": "Empty Cart Button Url"
      }
    ],
    "blocks": [
      {
        "name": "Upsell",
        "type": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Upsell Product"
          }, {
            "type": "text",
            "id": "button-label",
            "label": "Upsell Button Label"
          }
        ]
      }, {
        "name": "Column",
        "type": "usp",
        "settings": [
          {
            "type": "text",
            "id": "column-text",
            "label": "Column Text"
          }, {
            "type": "url",
            "id": "column-icon",
            "label": "Column Icon"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
  [jd-cloak] {
    display: none !important;
  }
</style>

<script>
  setTimeout(() => {
    [...document.querySelectorAll('[jd-cloak]')].forEach((el) => el.removeAttribute('jd-cloak'));
  }, 500);
</script>



<div jd-cloak>
  <div class="sidebar-container" data-ajax-cart-section>
    {% assign freeShippingPrice = section.settings.freeshipping_threshold | plus: 0 %}
    {% assign freeGiftPrice = section.settings.freegift_threshold | plus: 0 %}
    {% assign cartPriceCents = cart.total_price | plus: 0 %}
    {% assign giftProduct = section.settings.gift_product %}

    <div class="sidebar-cart">
      <div class="sidebar-top-bar">
        <div>
          <div class="text-xl cart_title">
            <span class="cart-title">{{ section.settings.title }}</span>
            <span class="cart-title gray">(
              {{- cart.item_count }} items)</span>
          </div>


        </div>
        <div data-ajax-cart-toggle-class-button="js-my-cart-open | remove" class="sidebar-close-btn">
          <img src="{{ 'close-icon.svg' | asset_url }}" loading="lazy" alt class="sidebar-close-icon">
        </div>
      </div>
      <div class="sidebar-div" style="margin-top:16px">
        <div class="sidebar-info">
          <div class="text-s text-caps black-60-color letter-spacing-0-03em margin-bottom-16px side-cart-top-text">
            <span class="text-bold-side">😍 Great choice!</span>
            You’ll love this!
          </div>

          {% assign width = cartPriceCents | times: 100 | divided_by: freeGiftPrice %}

          <div class="amount-bar-container">
            <div class="amount-bar" style="width:{{ width }}%;max-width:100%;{% if width >= 100 %}background-color:#34a853{% endif %}"></div>

          </div>

          <span class="reward-text">
            {% if giftProduct != blank %}
              {% if freeGiftPrice <= cartPriceCents and freeShippingPrice <= cartPriceCents %}
                🎉 Congratulations you have unlocked free shipping!
              {% elsif freeGiftPrice > cartPriceCents and freeShippingPrice <= cartPriceCents %}
                📦 You are {{ freeShippingPrice | minus: cartPriceCents | money }} away from free shipping!
              {% else %}
                📦 You are {{ freeShippingPrice | minus: cartPriceCents | money }} away from free shipping!
              {% endif %}
            {% else %}
              {% if freeShippingPrice <= cartPriceCents %}
                🎉 Congratulations you have unlocked free shipping!
              {% else %}
                📦 You are {{ freeShippingPrice | minus: cartPriceCents | money }} away from free shipping!
              {% endif %}
            {% endif %}
          </span>
        </div>
      </div>
      <div class="cart-product-container">
        {% for item in cart.items %}
          <div class="cart-product-block">
            <div class="cart-product-info">
              <div class="cart-product-image-div">
                <img src="{{ item.image | img_url: '80x80' }}" loading="lazy" alt class="cart-product-image">
                <a class="remove-product-btn" data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"><img src="{{ 'Trash.svg' | asset_url }}" loading="lazy" alt class="remove-product-icon"></a>
              </div>
              <div>
                <div class="text-m text-bold">{{ item.title }}</div>
                <div style="display:flex;gap:4px;align-items:center">
                  {% if item.product.compare_at_price %}
                    <div class="side-cart-compare-at-price">
                      {{ item.product.compare_at_price | times: item.quantity | money }}
                    </div>
                  {% endif %}
                  <div class="side-cart-price">
                    {{ item.final_line_price | money }}
                  </div>
                  <div class="cart-save-badge">
                    SAVE
                    {{
                       item.product.compare_at_price
                       | times: item.quantity
                       | minus: item.final_line_price
                       | money_without_trailing_zeros
                       | replace: '-', ''
                    }}
                  </div>
                </div>
              </div>
            </div>
            <div class="product-bar-plus-minus-button">
              <a class="product-bar-minus-button" data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}">
                <div>-</div>
              </a>
              <input class="product-quantity-input" name="updates[]" type="text" data-ajax-cart-quantity-input="{{ forloop.index }}" value="{{ item.quantity }}">
              <a class="product-bar-plus-button" data-ajax-cart-request-button href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}">
                <div>+</div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="cart-payment-info">


        <div class="cart-payment-text-block">
          <div class="text-s text-bold">
            <div class="text-s text-bold">{{ section.settings.subtotal-text }}</div>
          </div>


          <div class="text-s text-bold">
            <div class="text-s text-bold">{{ cartPriceCents | money }}</div>
          </div>
        </div>

        <div class="cart-payment-text-block">

          {% if cartPriceCents < freeShippingPrice %}
            <div class="text-s text-bold">
              <div class="text-s text-bold">{{ section.settings.shipping_text }}</div>
            </div>
          {% else %}
            <div class="text-s text-bold">
              <span class="shipping-cross">{{ section.settings.shipping_text }}</span>
            </div>
          {% endif %}


          {% if cartPriceCents < freeShippingPrice %}
            <div class="text-s text-bold">
              {{ section.settings.shipping | money }}
            </div>
          {% else %}
            <div class="text-s text-bold">
              <span class="shipping-cross">{{ section.settings.shipping | money }}</span>
            </div>
          {% endif %}
        </div>

        <div class="cart-payment-text-block">
          <div class="text-s text-bold">{{ section.settings.total }}</div>

          {% if cartPriceCents < freeShippingPrice %}
            <div class="text-s text-bold">
              {{ cartPriceCents | plus: section.settings.shipping | money }}
            </div>
          {% else %}
            <div class="text-s text-bold">{{ cartPriceCents | money }}</div>
          {% endif %}
        </div>

        <div class="cart-payment-text-block">
          <div class="text-s text-bold">Kortingscode?</div>
          <div class="text-s text-bold">Toevoegen tijdens checkout</div>
        </div>

        <a href="/checkout" class="cta-primairy even w-inline-block ATC-like-button" onclick="this.classList.toggle('ATC-like-button--loading')">
          <div>{{ section.settings.checkout_btn }}</div>
        </a>

        <div class="payment-container">
          {% assign enabled_payment_types = section.settings.payments | remove: ' ' | split: ',' %}

          {%- for type in enabled_payment_types -%}
            {{ type | payment_type_svg_tag: class: 'payment-cart icon--full-color' }}
          {%- endfor -%}
        </div>
      </div>
    </div>
    <div data-ajax-cart-toggle-class-button="js-my-cart-open | remove" class="sidebar-bg"></div>
  </div>
  <div class="sidebar-container empty">
    <div class="sidebar-cart">
      <div class="sidebar-top-bar">
        <div>
          <div class="text-xl cart_title">
            <span class="cart-title">{{ section.settings.title }}</span>
            <span class="cart-title gray">( {{- cart.item_count }} items)</span>
          </div>
        </div>
        <div data-ajax-cart-toggle-class-button="js-my-cart-open | remove" class="sidebar-close-btn">
          <img src="{{ 'close-icon.svg' | asset_url }}" loading="lazy" alt class="sidebar-close-icon">
        </div>
      </div>

      <div class="sidebar-div" style="margin-top:16px">
        <div class="sidebar-info">
          <div class="text-s text-caps black-60-color letter-spacing-0-03em margin-bottom-16px side-cart-top-text">
            <span class="text-bold-side">😍 Great choice!</span>
            You’ll love this!
          </div>

          {% assign width = cartPriceCents | times: 100 | divided_by: freeGiftPrice %}

          <div class="amount-bar-container">
            <div class="amount-bar" style="width:{{ width }}%;max-width:100%;{% if width >= 100 %}background-color:#34a853{% endif %}"></div>

          </div>

          <span class="reward-text">
            {% if giftProduct != blank %}
              {% if freeGiftPrice <= cartPriceCents and freeShippingPrice <= cartPriceCents %}
                🎉 Congratulations you have unlocked free shipping!
              {% elsif freeGiftPrice > cartPriceCents and freeShippingPrice <= cartPriceCents %}
                📦 You are {{ freeShippingPrice | minus: cartPriceCents | money }} away from free shipping!
              {% else %}
                📦 You are {{ freeShippingPrice | minus: cartPriceCents | money }} away from free shipping!
              {% endif %}
            {% else %}
              {% if freeShippingPrice <= cartPriceCents %}
                🎉 Congratulations you have unlocked free shipping!
              {% else %}
                📦 You are {{ freeShippingPrice | minus: cartPriceCents | money }} away from free shipping!
              {% endif %}
            {% endif %}
          </span>
        </div>
      </div>

      <div class="sidebar-empty_title">
        <h1>{{section.settings.empty-cart_title}}</h1>
        <a href="{{section.settings.empty-cart_url}}" class="button-hero is-secondary w-button">{{section.settings.empty-cart_label}}</a>
      </div>

      <div class="usp-columns customcontainer w-row side-cart">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'usp' %}
              <div class="usp-column w-col w-col-4 w-col-stack w-col-tiny-tiny-stack">
                <div class="single-usp header"><img src="{{block.settings.column-icon}}" loading="lazy" alt="" class="usp-icon">
                  <h1 class="usp-headertje">{{block.settings.column-text}}</h1>
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>



<script type="module">
  import {subscribeToCartSectionsUpdate} from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}'

  subscribeToCartSectionsUpdate(sections => {
    $(document).ready(function() {
      if ($('body').hasClass("js-ajax-cart-not-empty")) 
        $(".sidebar-container.empty").addClass("cart-not_empty");
      



    });

    $(document).ready(function() {
      if ($('body').hasClass("js-ajax-cart-empty")) 
        $(".sidebar-container.empty").removeClass("cart-not_empty");
      



    });

    Shopify.onItemAdded = function(cart) {
      jQuery.getJSON('/cart.js', function(cart) {
        $('.cart-title .gray').html(cart.item_count);
      });
    };
  });
</script>

<style>
  .pointer {
    cursor: pointer;
  }

  .swiper-container {
    overflow: visible !important;
  }

  .sidebar-container {
    display: flex;
    opacity: 0;
    visibility: hidden;
    webkit-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
  }

  .sidebar-container .sidebar-cart {
    transform: translate(100%);
    webkit-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    opacity: 0;
  }

  .cart-payment-info {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 9;
    margin-top: auto;
  }

  .cart-product-block {
    opacity: 1;
    transition: opacity 0.2s;
  }

  .full-width {
    width: 100%;
  }

  .amount-bar {
    border-radius: 100px;
  }

  .amount-bar-container {
    background-color: #e8e5df;
    margin: 0.5rem 0;
  }

  .product-quantity-input {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 24px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    font-family: Gilroy, sans-serif;
  }

  .swiper-container {
    overflow: unset;
  }

  .wrapper-for-upsells {
    background-color: #faeced;
    padding: 16px;
    width: 100%;
  }

  #upsellSlider {
    padding: 0 32px 20px;
    margin-bottom: 0;
  }

  .text-underline {
    text-decoration: underline;
  }

  .white-color {
    color: #fff;
  }

  .swiper-container {
    width: 100%;
  }

  .letter-spacing-0-03em {
    letter-spacing: 0.03em;
  }

  .payment-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 8px;
  }

  .product-bar-plus-minus-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #270e24;
    border-radius: 13px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.03em;
    border: 1px solid #EDEEF0;
  }

  .product-bar-minus-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    padding-right: 10px;
    padding-left: 18px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }

  .product-bar-plus-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    padding-right: 18px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }

  .sidebar-cart {
    position: relative;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 576px;
    height: 100vh;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
  }

  .sidebar-top-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }

  .sidebar-close-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    height: 36px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #edeef0;
    border-radius: 50%;
    cursor: pointer;
  }

  .sidebar-close-icon {
    width: 24px;
    height: 24px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .sidebar-div {
    padding-right: 32px;
    padding-left: 32px;
  }

  .sidebar-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 8px;
    border-radius: 12px;
    background-color: #f9f7ef;
  }

  .sidebar-payment-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
  }

  .amount-bar-container {
    overflow: hidden;
    height: 8px;
    border-radius: 22px;
  }

  .amount-bar {
    width: 100%;
    height: 100%;
    background-color: #514135;
  }

  .cart-product-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 10px;
  }

  .cart-product-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: inset 0 -1px #edeef0;
  }

  .cart-product-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 10px;
  }

  .cart-product-image-div {
    position: relative;
  }

  .cart-product-image {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    border-style: solid;
    border-width: 1px;
    border-color: #edeef0;
    border-radius: 50%;
  }

  .remove-product-btn {
    position: absolute;
    left: -6px;
    top: -6px;
    right: auto;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e6e9;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }

  .remove-product-icon {
    width: 14px;
    height: 14px;
  }

  .cart-product-mysterybox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-row-gap: 16px;
    background-color: #070e1b;
  }

  .cart-mysterybox-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column-gap: 12px;
  }

  .cart-mysterybox-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 10px;
  }

  .cart-mysterybox-image {
    width: 64px;
    height: 64px;
    min-height: 64px;
    min-width: 64px;
    border-radius: 50%;
  }

  .mysterybox-add-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 64px;
    height: 64px;
    min-height: 64px;
    min-width: 64px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: #679d34;
    color: #fff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
  }

  .cart-payment-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 16px;
    background-color: #f9f7ef;
  }

  .cart-payment-text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cart-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 16px 16px 16px 28px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 18px;
    border-radius: 16px;
    background-color: #d9dbde;
    color: #070e1b8f;
    font-size: 16px;
    font-weight: 700;
  }

  .cart-button-icon {
    width: 18px;
    opacity: 0.56;
  }

  .sidebar-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    width: 100vw;
    height: 100vh;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: #0006;
    opacity: 0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  .sidebar-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  @media screen and (max-width: 991px) {
    .payment-container {
      position: static;
    }

    .sidebar-top-bar {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  @media screen and (max-width: 767px) {
    .sidebar-top-bar {
      padding: 16px 24px;
    }

    .sidebar-div,
    .cart-product-container,
    .cart-product-mysterybox {
      padding-right: 24px;
      padding-left: 24px;
    }

    #upsellSlider {
      padding-left: 16px;
      padding-right: 16px;
    }

    .cart-mysterybox-image,
    .mysterybox-add-button {
      width: 48px;
      height: 48px;
      min-height: 48px;
      min-width: 48px;
    }

    .cart-payment-info {
      padding-right: 24px;
      padding-left: 24px;
    }
  }

  @media screen and (max-width: 479px) {
    .main-button {
      width: 100%;
    }

    .payment-icon {
      margin-right: 8px;
      margin-bottom: 8px;
    }

    .payment-container {
      display: block;
    }

    .product-bar-plus-minus-button {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .product-bar-minus-button {
      height: 48px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    .product-bar-plus-button {
      height: 48px;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    .sidebar-top-bar,
    .cart-product-container,
    .cart-product-mysterybox,
    .cart-payment-info {
      padding: 16px;
    }

    .sidebar-div {
      padding: 0 16px;
    }

    .cart-button {
      width: 100%;
    }
  }

  .sidebar-container {
    display: flex;
    opacity: 0;
    visibility: hidden;
    webkit-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
  }

  /* Show the floating cart if the 'js-my-cart-open' CSS class exists */
  .js-my-cart-open .sidebar-container {
    display: flex;
    opacity: 1;
    visibility: visible;
    webkit-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
  }

  .sidebar-container.sidebar-bg {
    webkit-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    opacity: 0;
  }

  .js-my-cart-open .sidebar-bg {
    webkit-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    opacity: 1;
  }

  .sidebar-container .sidebar-cart {
    transform: translateX(100%);
    webkit-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    opacity: 0;
  }

  .js-my-cart-open .sidebar-cart {
    transform: translateX(0%);
    webkit-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -moz-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    -o-transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
    opacity: 1;
  }

  @media screen and (max-width: 767px) {
    .swiper-image {
      max-height: 120px;
    }
  }

  .product-card-upsell-img {
    width: 80px;
    height: auto;
    margin: 0 8px;
  }

  .product-card-upsell-wrapper {
    align-items: flex-start;
    text-align: left;
    padding-top: 16px;
  }

  .product-card-upsell {
    flex-direction: row;
    align-items: center;
  }

  .swiper-block {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #edeef000;
    border-radius: 12px;
    background-color: #fff;
    -webkit-transition: border-color 0.2s ease, box-shadow 0.2s ease;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    border-color: #edeef0;
    box-shadow: 0 4px 12px #0000000a;
  }

  .swiper-block:hover {
    border-color: #edeef0;
    box-shadow: 0 4px 12px #00000014;
  }

  .swiper-image {
    width: auto;
    max-height: 300px;
    object-fit: contain;
    margin: 16px 0;
  }

  .swiper-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .swiper-star-grid {
    display: -ms-grid;
    display: grid;
    margin-bottom: 2px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .swiper-star {
    height: 18px;
  }

  .swiper-price-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 8px;
  }

  .swiper-price-div {
    padding: 2px 12px;
    border-radius: 70px;
    background-color: #34a853;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }

  .swiper-store-icon-div {
    position: absolute;
    left: auto;
    top: 16px;
    right: 16px;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: {{ settings.colors_accent_1 }};
    box-shadow: inset 0 -6px #00000052;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-align: center;
    padding: 0;
  }

  .swiper-store-icon {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: 767px) {
    .swiper-block {
      grid-row-gap: 8px;
    }

    .swiper-div {
      padding-right: 8px;
      padding-bottom: 8px;
      padding-left: 8px;
    }
  }

  #w-node-_10e4c92e-b458-31a5-2fe3-a23631ca829a-1328b10d,
  #w-node-_10e4c92e-b458-31a5-2fe3-a23631ca829b-1328b10d,
  #w-node-_10e4c92e-b458-31a5-2fe3-a23631ca829c-1328b10d,
  #w-node-_10e4c92e-b458-31a5-2fe3-a23631ca829d-1328b10d,
  #w-node-_10e4c92e-b458-31a5-2fe3-a23631ca829e-1328b10d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  .product-card-upsell-img {
    width: 80px;
    height: auto;
    margin: 0 8px;
  }
  .product-card-upsell-wrapper {
    align-items: flex-start;
    text-align: left;
    padding-top: 16px;
    color: black;
  }

  .product-card-upsell {
    flex-direction: row;
  }

  .wrapper-for-upsells {
    padding-left: 16px;
  }

  .text-left {
    text-align: left;
  }

  .cart_title {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 8px;
  }
  .product-bar-plus-minus-button > a {
    color: #270e24;
  }

  .cart-product-block {
    opacity: 1;
    transition: opacity 0.2s;
  }

  /* Make the area with controls visually disabled */
  body.js-ajax-cart-request-in-progress .cart-product-block {
    opacity: 0.7;
  }

  .tag_reward_wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 8px;
  }

  .tag_reward {
    padding: 6px 12px;
    background: rgba(39, 14, 36, 0.12);
    border-radius: 24px;
    ont-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    text-transform: uppercase;
    color: #270e24;
    opacity: 0.64;
    display: inline-block;
    transition: all 0.25s ease-in-out;
  }

  .tag_reward.reward_added {
    background: #34a853;
    transition: all 0.25s ease-in-out;
    color: #fff;
    opacity: 1;
  }

  .cart-title {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    color: #270e24;
  }

  .cart-title.gray {
    color: #a9acb2;
    font-weight: 500;
  }

  .cart-subtitle {
    font-family: 'Puppy Talk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #242222;
  }

  .cart-subtitle.gray {
    color: #270e24;
    opacity: 0.6;
    font-weight: 500;
  }

  .wrapper-for-upsells {
    border-radius: 12px;
  }

  .upsell-pagination {
    position: absolute;
    bottom: 0;
    z-index: 999;
    left: 0;
    display: flex;
    justify-content: center;
  }

  .upsell-line {
    height: 1px;
    width: 100%;
    background-color: rgba(39, 14, 36, 0.08);
    margin: 12px 0;
  }

  .upsell-header {
    font-family: 'Puppy Talk';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #270e24;
  }

  .swiper-block {
    background-color: transparent;
    box-shadow: none;
  }

  .swiper-block:hover {
    background-color: transparent;
    box-shadow: none;
  }

  .side-cart-price {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #270e24;
  }

  .side-cart-compare-at-price {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: rgba(39, 14, 36, 0.56);
  }

  .cart-save-badge {
    margin-left: 0;
    padding: 2px 6px;
    border-radius: 100px;
    background-color: #f92766;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    font-weight: 800;
  }

  .reward-text {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #242222;
  }
</style>