<div class="_404-section">
  <div class="page-padding-2">
    <div class="not-found-block" style="background-image:url({{'stargazing.png' | asset_url}})">
      <h1 class="_404-heading">{{section.settings.title}}</h1>
    </div>
  </div>
</div>
<div class="not-found-cta-block">
  <div class="vertical-div _10-row-gap">
    <div class="text-s text-bold">{{section.settings.block-title}}</div>
    <div class="text-s text-bold grey">{{section.settings.block-description}}</div>
  </div>
  <a href="{{section.settings.button-url}}" class="cta-primairy-2 even w-inline-block">
    <div>{{section.settings.button-label}}</div>
  </a>
</div>

{% schema %}
  {
    "name": "Template 404",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "404",
        "label": "404 Heading Title"
      },
      {
        "type": "text",
        "id": "block-title",
        "default": "Niet gevonden",
        "label": "Block title"
      },
      {
        "type": "richtext",
        "id": "block-description",
        "label": "Block Description"
      },
      {
        "type": "text",
        "id": "button-label",
        "default": "Bekijk de bestsellers",
        "label": "Button Label"
      }, {
        "type": "url",
        "id": "button-url",
        "label": "Button URL"
      }
    ]
  }
{% endschema %}