{% assign selected_variant = product.selected_or_first_available_variant %}
{% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
  <input type="hidden" name="id" value="{{ selected_variant.id }}">
  <section id="shopify-product-section" class="product-section wf-section">
    <section class="product-section-wrapper">
      <div class="container-large-2">
        <div class="product-grid">
          <div id="w-node-adb81a6d-176b-ded8-2561-72220daf9784-6ddb3075" class="product-sp-and-swiper">
            <div id="ProductImgSwiper" class="main-product-photo">
              <div class="swiper myswiper3">
                <div class="swiper-wrapper product-main_swiper">   
                  {% for media in product.media %}
                  <div class="swiper-slide"><img src="{{- media | img_url: 'master' }}" loading="lazy" srcset="{{- media | img_url: 'master' }} 500w, {{- media | img_url: 'master' }} 666w" sizes="(max-width: 666px) 100vw, (max-width: 767px) 666px, (max-width: 991px) 85vw, 450px" alt="" class="main-product_photo"></div>
                {% endfor %}
              </div>
              <div class="swiper-pagination-22"></div>
            </div>
            <div thumbsslider="" class="swiper myswiper4">
              <div class="swiper-wrapper product-thumb_swiper">
                {% for media in product.media %}
                <div class="swiper-slide product-thumb_slide"><img src="{{- media | img_url: 'master' }}" loading="lazy" srcset="{{- media | img_url: 'master' }} 500w, {{- media | img_url: 'master' }} 666w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 100px, 450px" alt="" class="product-media_photo"></div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_34481b18-401a-5d31-7d47-0cbaa5b1c89e-6ddb3075" class="product-content">
          <div id="w-node-adb81a6d-176b-ded8-2561-72220daf976c-6ddb3075" class="product-block">
            <div class="product-ab-fold">
                  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'title' %}
        <h1 class="product-title title-color">{{product.title}}</h1>
      {% when 'description' %}
        <h5 id="w-node-adb81a6d-176b-ded8-2561-72220daf9771-6ddb3075" class="tagline grey-color">All-in-One Styler: Curly. world. Smooth blow-dried hair.</h5>
        {% when 'review' %}
          <div id="w-node-adb81a6d-176b-ded8-2561-72220daf9773-6ddb3075" class="product-review-container">
            <div class="product-review-star-container">
              <div class="review-star w-embed"><svg width="auto" height="auto" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.55472 13.9827L4.09222 15.885C3.62452 16.1419 3.04604 15.954 2.80016 15.4652C2.70225 15.2706 2.66846 15.0477 2.70403 14.831L3.36531 10.8019C3.41854 10.4775 3.31564 10.1466 3.09015 9.91691L0.288927 7.06349C-0.0894508 6.67806 -0.0971931 6.04507 0.271634 5.64966C0.418503 5.49221 0.610945 5.38974 0.819169 5.35812L4.69037 4.77028C5.00199 4.72296 5.27138 4.51843 5.41074 4.22335L7.14199 0.557552C7.37584 0.0623918 7.94953 -0.140909 8.42336 0.103467C8.61204 0.200779 8.76477 0.360377 8.85789 0.557552L10.5891 4.22335C10.7285 4.51843 10.9979 4.72296 11.3095 4.77028L15.1807 5.35812C15.7036 5.43752 16.0659 5.94487 15.9899 6.49131C15.9597 6.70891 15.8616 6.91001 15.7109 7.06349L12.9097 9.91691C12.6842 10.1466 12.5813 10.4775 12.6346 10.8019L13.2958 14.831C13.3852 15.3752 13.0354 15.8921 12.5146 15.9854C12.3072 16.0226 12.0939 15.9873 11.9077 15.885L8.44515 13.9827C8.16643 13.8295 7.83345 13.8295 7.55472 13.9827Z" fill="#F9A000"></path>
                </svg></div>
              <div class="review-star w-embed"><svg width="auto" height="auto" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.55472 13.9827L4.09222 15.885C3.62452 16.1419 3.04604 15.954 2.80016 15.4652C2.70225 15.2706 2.66846 15.0477 2.70403 14.831L3.36531 10.8019C3.41854 10.4775 3.31564 10.1466 3.09015 9.91691L0.288927 7.06349C-0.0894508 6.67806 -0.0971931 6.04507 0.271634 5.64966C0.418503 5.49221 0.610945 5.38974 0.819169 5.35812L4.69037 4.77028C5.00199 4.72296 5.27138 4.51843 5.41074 4.22335L7.14199 0.557552C7.37584 0.0623918 7.94953 -0.140909 8.42336 0.103467C8.61204 0.200779 8.76477 0.360377 8.85789 0.557552L10.5891 4.22335C10.7285 4.51843 10.9979 4.72296 11.3095 4.77028L15.1807 5.35812C15.7036 5.43752 16.0659 5.94487 15.9899 6.49131C15.9597 6.70891 15.8616 6.91001 15.7109 7.06349L12.9097 9.91691C12.6842 10.1466 12.5813 10.4775 12.6346 10.8019L13.2958 14.831C13.3852 15.3752 13.0354 15.8921 12.5146 15.9854C12.3072 16.0226 12.0939 15.9873 11.9077 15.885L8.44515 13.9827C8.16643 13.8295 7.83345 13.8295 7.55472 13.9827Z" fill="currentcolor"></path>
                </svg></div>
              <div class="review-star w-embed"><svg width="auto" height="auto" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.55472 13.9827L4.09222 15.885C3.62452 16.1419 3.04604 15.954 2.80016 15.4652C2.70225 15.2706 2.66846 15.0477 2.70403 14.831L3.36531 10.8019C3.41854 10.4775 3.31564 10.1466 3.09015 9.91691L0.288927 7.06349C-0.0894508 6.67806 -0.0971931 6.04507 0.271634 5.64966C0.418503 5.49221 0.610945 5.38974 0.819169 5.35812L4.69037 4.77028C5.00199 4.72296 5.27138 4.51843 5.41074 4.22335L7.14199 0.557552C7.37584 0.0623918 7.94953 -0.140909 8.42336 0.103467C8.61204 0.200779 8.76477 0.360377 8.85789 0.557552L10.5891 4.22335C10.7285 4.51843 10.9979 4.72296 11.3095 4.77028L15.1807 5.35812C15.7036 5.43752 16.0659 5.94487 15.9899 6.49131C15.9597 6.70891 15.8616 6.91001 15.7109 7.06349L12.9097 9.91691C12.6842 10.1466 12.5813 10.4775 12.6346 10.8019L13.2958 14.831C13.3852 15.3752 13.0354 15.8921 12.5146 15.9854C12.3072 16.0226 12.0939 15.9873 11.9077 15.885L8.44515 13.9827C8.16643 13.8295 7.83345 13.8295 7.55472 13.9827Z" fill="currentcolor"></path>
                </svg></div>
              <div class="review-star w-embed"><svg width="auto" height="auto" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.55472 13.9827L4.09222 15.885C3.62452 16.1419 3.04604 15.954 2.80016 15.4652C2.70225 15.2706 2.66846 15.0477 2.70403 14.831L3.36531 10.8019C3.41854 10.4775 3.31564 10.1466 3.09015 9.91691L0.288927 7.06349C-0.0894508 6.67806 -0.0971931 6.04507 0.271634 5.64966C0.418503 5.49221 0.610945 5.38974 0.819169 5.35812L4.69037 4.77028C5.00199 4.72296 5.27138 4.51843 5.41074 4.22335L7.14199 0.557552C7.37584 0.0623918 7.94953 -0.140909 8.42336 0.103467C8.61204 0.200779 8.76477 0.360377 8.85789 0.557552L10.5891 4.22335C10.7285 4.51843 10.9979 4.72296 11.3095 4.77028L15.1807 5.35812C15.7036 5.43752 16.0659 5.94487 15.9899 6.49131C15.9597 6.70891 15.8616 6.91001 15.7109 7.06349L12.9097 9.91691C12.6842 10.1466 12.5813 10.4775 12.6346 10.8019L13.2958 14.831C13.3852 15.3752 13.0354 15.8921 12.5146 15.9854C12.3072 16.0226 12.0939 15.9873 11.9077 15.885L8.44515 13.9827C8.16643 13.8295 7.83345 13.8295 7.55472 13.9827Z" fill="currentcolor"></path>
                </svg></div>
              <div class="review-star w-embed"><svg width="auto" height="auto" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.55472 13.9827L4.09222 15.885C3.62452 16.1419 3.04604 15.954 2.80016 15.4652C2.70225 15.2706 2.66846 15.0477 2.70403 14.831L3.36531 10.8019C3.41854 10.4775 3.31564 10.1466 3.09015 9.91691L0.288927 7.06349C-0.0894508 6.67806 -0.0971931 6.04507 0.271634 5.64966C0.418503 5.49221 0.610945 5.38974 0.819169 5.35812L4.69037 4.77028C5.00199 4.72296 5.27138 4.51843 5.41074 4.22335L7.14199 0.557552C7.37584 0.0623918 7.94953 -0.140909 8.42336 0.103467C8.61204 0.200779 8.76477 0.360377 8.85789 0.557552L10.5891 4.22335C10.7285 4.51843 10.9979 4.72296 11.3095 4.77028L15.1807 5.35812C15.7036 5.43752 16.0659 5.94487 15.9899 6.49131C15.9597 6.70891 15.8616 6.91001 15.7109 7.06349L12.9097 9.91691C12.6842 10.1466 12.5813 10.4775 12.6346 10.8019L13.2958 14.831C13.3852 15.3752 13.0354 15.8921 12.5146 15.9854C12.3072 16.0226 12.0939 15.9873 11.9077 15.885L8.44515 13.9827C8.16643 13.8295 7.83345 13.8295 7.55472 13.9827Z" fill="currentcolor"></path>
                </svg></div>
            </div>
            <div class="product-review-p">4.9/5 stars • 364 reviews</div>
          </div>
          {% when 'price' %}
            <div id="w-node-f83d88ae-cb25-900d-1998-9026481e7ec9-6ddb3075" class="product-price-box">
              <div class="before-price-p">$89.95</div>
              <div class="product-price--p">$49.95</div>
              <div class="product-discount">SAVE 40€</div>
            </div>
          </div>
        </div>
            {% when 'klarna' %}
            <div id="w-node-b8e20345-8f10-334f-d74f-55d85d411971-6ddb3075" class="klarna-element"><img src="images/klarna.svg" loading="lazy" alt="" class="image-15">
            <p class="paragraph">Betaal pas over 30 dagen. <span class="text-span">Meer weten</span></p>
          </div>
          {% when 'quantity' %}
            <label for="quantity-{{ section.id }}">Quantity</label>
            <input type="number" name="quantity" id="quantity-{{ section.id }}" value="1" min="1">
            {% when 'checkout_buttons' %}
              <button type="submit" name="add" {% if selected_variant.available == false %} disabled {% endif %}>
                {% if selected_variant.available == false %}
                    Sold out
                {% else %}
                    Add to cart
                {% endif %}
              </button>
              {% when 'payment-icon' %}
              <div class="payment-methods-2"><img src="images/Group-300.svg" loading="lazy" alt="" class="payment-icon"><img src="images/Group-319.svg" loading="lazy" alt="" class="payment-icon"><img src="images/Group-318.svg" loading="lazy" alt="" class="payment-icon"><img src="images/mastercard.svg" loading="lazy" alt="" class="payment-icon"><img src="images/Group-315.svg" loading="lazy" alt="" class="payment-icon"><img src="images/Group-314.svg" loading="lazy" alt="" class="payment-icon"><img src="images/Group-313.svg" loading="lazy" alt="" class="payment-icon"><img src="images/Group-310.svg" loading="lazy" alt="" class="payment-icon"></div>
              {% when 'additional-icons' %}
                <div id="w-node-_82feab31-0fa3-8feb-4644-3b45c3090948-6ddb3075" class="store-benefits">
                  <div class="store-benefit-wrapper">
                    <div class="store-benefit">
                      <div class="store-benefit-icon w-embed"><img src="{{block.settings.icon-link}}"></div>
                      <div>{{block.settings.icon-description}}</div>
                    </div>
                  </div>
                </div>
                {% when 'accordion' %}
                  <div id="w-node-adb81a6d-176b-ded8-2561-72220daf981a-6ddb3075" class="product-accordion-list">
                    <div data-click="accordion" data-w-id="adb81a6d-176b-ded8-2561-72220daf981b" class="product-accordion-item">
                      <div class="product-accordion">
                        <div class="accordion-title">{{block.settings.accordion-title}}</div><img src="images/close-icon.svg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" alt="" class="product-accordion-icon">
                      </div>
                      <div style="opacity:0;height:0px" class="product-accordion-info-container">
                        <div class="product-accordion-content">
                          <div class="accordion-richtext w-richtext">
                            <p>{{block.settings.accordion-description}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% when 'testimonial' %}
                    <div id="w-node-c0e555da-3a5e-41e0-7341-046b33134990-6ddb3075" class="customers-tab_wrapper"><img src="images/Untitled.png" loading="lazy" srcset="images/Untitled-p-500.png 500w, images/Untitled-p-800.png 800w, images/Untitled.png 885w" sizes="(max-width: 1279px) 54px, (max-width: 1439px) 4vw, 54px" alt="" class="social-proof-img">
                    <p class="social-bar-p"><strong class="bold-text-2">Julia Clinton</strong> and <strong class="bold-text-3">312 other people</strong> love the <strong class="bold-text-4">Snuggie (Pink)</strong></p>
                  </div>
                {% endcase %}
              {% endfor %}        
                </div>
              </div>
            </div>
          </section>
        </section>
{% endform %}
            





<script>
  class VariantSelector extends HTMLElement {
    constructor() {
      super();
      this.addEventListener("change", this.onVariantChange);
    }

    onVariantChange() {
      this.getSelectedOptions();
      this.getSelectedVariant();
      if (this.currentVariant) {
        this.updateURL();
        this.updateFormID();
        this.updatePrice();
      }
    }

    getSelectedOptions() {
      this.options = Array.from(this.querySelectorAll('select'), (select) => select.value);
      console.log(this.options);
    }

    getVariantJSON() {
      this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
      return this.variantData;
    }

    getSelectedVariant() {
      this.currentVariant = this.getVariantJSON().find(variant => {
        const findings = !variant.options.map((option, index) => {
          return this.options[index] === option;
        }).includes(false);
        if (findings) return variant;
      });
      console.log(this.currentVariant);
    }

    updateURL() {
      if (!this.currentVariant) return;
      window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
    }

    updateFormID() {
      const form_input = document.querySelector("#product-form").querySelector('input[name="id"]');
      form_input.value = this.currentVariant.id;
    }

    updatePrice() {
      fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
        .then((response) => response.text())
        .then((responseText) => {
          const id = `price-${this.dataset.section}`;
          const html = new DOMParser().parseFromString(responseText, 'text/html');
          const oldPrice = document.getElementById(id);
          const newPrice = html.getElementById(id);
          if (oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
        });
    }
  }
  customElements.define("variant-selector", VariantSelector);
</script>


{% schema %}
{
    "name": "Product Section",
    "tag": "section",
    "class": "products",
    "settings": [

    ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "review",
      "name": "Review",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "klarna",
      "name": "Klarna Proof",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "checkout_buttons",
      "name": "Checkout Buttons",
      "limit": 1
    },
    {
      "type": "payment-icons",
      "name": "Payment Icons",
      "limit": 1
    },
    {
      "type": "additional-icons",
      "name": "Additional Icons",
      "settings": [
        {
          "type": "url",
          "id": "icon-link",
          "label": "Icon Link"
        },
        {
          "type": "text",
          "id": "icon-description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "accordion",
      "name": "Accordion",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "accordion-title",
          "label": "Accordion Title"
        },
        {
          "type": "richtext",
          "id": "accordion-description",
          "label": "Accordion Description"
        }
      ]
    },
    {
      "type": "testimonial",
      "name": "Testimonial",
      "limit": 1
    }
  ]
}
{% endschema %}