<div class="trust-badges-section wf-section">
  <div class="trust-badges-columns customcontainer before-footer">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'badges' %}
          <div class="trustbadge-column">
            <div class="single-usp">
              <div class="usp-icon w-embed"><img src="{{block.settings.icon-link}}"></div>
              <h1 class="trust-badges-title">{{block.settings.badge-title}}</h1>
              <p class="trust-badges-paragraph">{{block.settings.badge-description}}</p>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
  <div data-delay="4000" data-animation="slide" class="usp-slider w-slider" data-autoplay="false" data-easing="ease-in-out-cubic" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="8" data-duration="500" data-infinite="true">
    <div class="mask w-slider-mask">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'badges-mobile' %}
            <div class="slide slide-1 w-slide">
              <div class="single-usp">
                <div class="trust-icon w-embed"><img src="{{block.settings.icon-link_mobile}}"></div>
                <h1 class="trust-badges-title">{{block.settings.badge-title_mobile}}</h1>
                <p class="trust-badges-paragraph">{{block.settings.badge-description_mobile}}</p>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
    <div class="left-arrow w-slider-arrow-left">
      <div class="icon-22 w-icon-slider-left"></div>
    </div>
    <div class="right-arrow w-slider-arrow-right">
      <div class="icon-22 w-icon-slider-right"></div>
    </div>
    <div class="slide-dots w-slider-nav w-slider-nav-invert w-round"></div>
  </div>
</div>


{% schema %}
  {
    "name": "Trust Badges",
    "tag": "section",
    "class": "badges",
    "settings": [],
    "max_blocks": 7,
    "blocks": [
      {
        "name": "Social Proof",
        "type": "badges",
        "settings": [
          {
            "type": "url",
            "id": "icon-link",
            "label": "Icon Link"
          }, {
            "type": "text",
            "id": "badge-title",
            "label": "Badge Title"
          }, {
            "type": "textarea",
            "id": "badge-description",
            "label": "Badge Description"
          }
        ]
      }, {
        "name": "Social Proof Mobile",
        "type": "badges-mobile",
        "settings": [
          {
            "type": "url",
            "id": "icon-link_mobile",
            "label": "Icon Link"
          }, {
            "type": "text",
            "id": "badge-title_mobile",
            "label": "Badge Title"
          }, {
            "type": "textarea",
            "id": "badge-description_mobile",
            "label": "Badge Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Trust Badges",
        "blocks": [
          {
            "type": "badges"
          }
        ]
      }
    ]
  }
{% endschema %}